<ion-header >
  <ion-toolbar >
    <ion-title> 
      <img src="/assets/imgs/carecenterlogo.png" >
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
   
  </ion-toolbar>
</ion-header>

<ion-content color='primary'> 
    <div class="ion-header">
      <ion-avatar >
        <img src="/assets/imgs/usuario.png" >
      </ion-avatar>
  </div>
 
  <div class="separador"></div>

  <div class="cards">
  <ion-card>
    <ion-card-header >
      <ion-card-title><center>Meu Perfil</center></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-scroll scrollY="true">
      
        <ion-card>
          <ion-card-content>
  
            <div class="infosRow">
              <div class="infoRow">
                Anderson Sousa Magalhães
                <!--substituir por listagem de nome banco-->
              </div>
            </div>
  
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
  
            <div class="infosRow">
              <div class="infoRow">
                Idade:
              </div>
              <div class="infoRowData">
                  20 Anos
                  <!--substituir por listagem de idade acima-->
              </div>
            </div>
  
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
  
            <div class="infosRow">
              <div class="infoRow">
                CPF:
              </div>  
              <div class="infoRowData">
                  CPF aqui
                  <!--substituir por listagem de CPF acima-->
              </div>
            </div>
  
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
  
            <div class="infosRow">
              <div class="infoRow">
                Endereço:
              </div>  
              <div class="infoRowData">
                  Endereço aqui 1111111111111111111111111111111111
                  <!--substituir por listagem de endereco acima-->
              </div>
            </div>
  
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
  
            <div class="infosRow">
              <div class="infoRow">
                Número:
              </div>  
              <div class="infoRowData">
                  Nº32
                  <!--substituir por listagem de numero acima-->
              </div>
            </div>
  
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
  
            <div class="infosRow">
              <div class="infoRow">
                Cidade:
              </div>  
              <div class="infoRowData">
                  Campo Grande
                  <!--substituir por listagem de cidade acima-->
              </div>
            </div>
  
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
  
            <div class="infosRow">
              <div class="infoRow">
                Estado:
              </div>  
              <div class="infoRowData">
                  Rio de Janeiro
                  <!--substituir por listagem de estado acima-->
              </div>
            </div>
  
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
  
            <div class="infosRow">
              <div class="infoRow">
                Telefone:
              </div>  
              <div class="infoRowData">
                  (21) 98888-8888
                  <!--substituir por listagem de telefone acima-->
              </div>
            </div>
  
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
  
            <div class="infosRow">
              <div class="infoRow">
                Email:
              </div>  
              <div class="infoRowData">
                  email.email@gmail.com
                  <!--substituir por listagem de emais acima-->
              </div>
            </div>
  
          </ion-card-content>
        </ion-card>

      </ion-scroll>
    </ion-card-content>
  </ion-card>

</div>
</ion-content>