<ion-header>
  <ion-toolbar>
    <ion-title>Informações Adicionais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input disabled="true" value="{{perfil.nome}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Cpf</ion-label>
    <ion-input disabled="true" value="{{perfil.cpf}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Endereço</ion-label>
    <ion-input disabled="true" value="{{perfil.endereco}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Número</ion-label>
    <ion-input disabled="true" value="{{perfil.numero}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Cidade</ion-label>
    <ion-input disabled="true" value="{{perfil.cidade}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Estado</ion-label>
    <ion-input disabled="true" value="{{perfil.estado}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input disabled="true" value="{{perfil.email}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Telefone</ion-label>
    <ion-input disabled="true" value="{{perfil.telefone}}"></ion-input>
  </ion-item>

</ion-content>
