<ion-header>
  <ion-toolbar>  
    <img src="/assets/imgs/carecenterlogo.png">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color='primary'>
  <div class="ion-header">
    <ion-avatar >
      <img src="/assets/imgs/usuario.png" >
    </ion-avatar>
  </div>

  <div class="separador"></div>

  <ion-card>
    <ion-card-header>
      <ion-card-title style="font-weight: bold;"><center>Ficha médica</center></ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <div class="separador"></div>

      <div class="card-content">

        <ion-list>
          <ion-item *ngFor="let cliente of lista">
            <div class=left-item-label>Nome:</div>
            <ion-label color="danger">{{cliente.nome}}</ion-label>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item *ngFor="let cliente of lista">
            <div class=left-item-label>Idade:</div>
            <ion-label color="danger">{{cliente.idade}}</ion-label>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item *ngFor="let cliente of lista">
            <div class=left-item-label>CPF:</div>
            <ion-label color="danger">{{cliente.cpf}}</ion-label>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item *ngFor="let cliente of lista">
            <div class=left-item-label>Sangue:</div>
            <ion-label color="danger">{{cliente.sangue}}</ion-label>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item *ngFor="let cliente of lista">
            <div class=left-item-label>Endereço:</div>
            <ion-label color="danger">{{cliente.endereco}}</ion-label>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item *ngFor="let cliente of lista">
            <div class=left-item-label>Número:</div>
            <ion-label color="danger">{{cliente.numero}}</ion-label>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item *ngFor="let cliente of lista">
            <div class=left-item-label>Cidade:</div>
            <ion-label color="danger">{{cliente.cidade}}</ion-label>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item *ngFor="let cliente of lista">
            <div class=left-item-label>Estado:</div>
            <ion-label color="danger">{{cliente.estado}}</ion-label>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item *ngFor="let cliente of lista">
            <div class=left-item-label>Email:</div>
            <ion-label text-wrap color="danger">{{cliente.email}}</ion-label>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item *ngFor="let cliente of lista">
            <div class=left-item-label>Telefone:</div>
            <ion-label color="danger">{{cliente.telefone}}</ion-label>
          </ion-item>
        </ion-list>
        <div class="separador"></div>

        <ion-button color="dark" shape="round" size="medium" (click)="atualizar()" expand="full" style="width:50%;margin:0 auto;">
          Atualizar</ion-button>

      </div>
    
    </ion-card-content>
  </ion-card>
  
</ion-content>