<ion-header >
  <ion-toolbar >
    <ion-title> 
      <img src="/assets/imgs/carecenterlogo.png" >
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
   
  </ion-toolbar>
</ion-header>
<ion-content color='primary'> 
    <div class="ion-left"></div>
  
  <ion-card>
    <ion-card-header>
      <center><ion-card-subtitle>Marcar Consulta</ion-card-subtitle></center>

        <form [formGroup]="formGroup">
      
          <ion-item>
            <ion-label position="floating">Especialista</ion-label>
            <ion-input type="text" formControlName="especialista"></ion-input>
          </ion-item>
      
      
          <ion-item>
            <ion-label position="floating">Cidade</ion-label>
            <ion-input type="text" formControlName="cidade"></ion-input>
          </ion-item>
      
          <ion-item>
            <ion-label position="floating">Metódo</ion-label>
            <ion-input type="text" formControlName="metodo"></ion-input>
          </ion-item>
      
          <ion-button (click)="cadastrar()" expand="full">Cadastrar</ion-button>
        </form>