<ion-header >
  <ion-toolbar >
    <ion-title>
      <img src="/assets/imgs/carecenterlogo.png" >
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
   
  </ion-toolbar>
</ion-header>
<ion-content color='primary'> 
    <div class="ion-left"></div>
  
  <ion-card>
    <ion-card-header>
      <center><ion-card-subtitle>Marcar Consulta</ion-card-subtitle></center>

        <form [formGroup]="formGroup">
      
          <ion-list>
            <ion-item>
              <ion-label>Especialista</ion-label>
              <ion-select value="especialidade">
                <ion-select-option value="f">Fisioterapeuta</ion-select-option>
                <ion-select-option value="n">Nutricionista</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
            
          <ion-list>
            <ion-item>
              <ion-label>Data</ion-label>
              <ion-datetime value="1990-02-19" placeholder="Select Date"></ion-datetime>
            </ion-item>
          </ion-list>

          <ion-list>
            <ion-item>
              <ion-label>Metódo</ion-label>
              <ion-select value="dog">
                <ion-select-option value="cat">Online</ion-select-option>
                <ion-select-option value="dog">Chat</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          
      </form>

        <ion-button class="btnProsseguir" shape="round" size="medium" color="dark" expand="block"
        (click)="cadastrar()">Marcar</ion-button>
        