<ion-header class="ion-no-border">

</ion-header>

<ion-content color="primary">

  <div class="logo">
    <img src="/assets/imgs/carecenterlogo.png">
  </div>

  <ion-item>
    <ion-input placeholder="Email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Senha" type="senha"></ion-input>
  </ion-item>
  
    <div class="separador">
    </div>
   <ion-button class="btnini2" shape="round" size="small" color="dark" expand="block" (click)="openstate()">
    Cadastrar
   </ion-button>

</ion-content>