
<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content routerLink="home">
        <div class="menu-header-bg"></div>
        <div class="header-content" >
          <img src="/assets/imgs/carecenterlogo.png" alt="">
          <ion-label>
           <h2>  Seja Bem-vindo!  </h2> 
          </ion-label>
        </div>
      
        
        <ion-list class="menu-itens">
          <ion-menu-toggle>
          <ion-item routerLink="login">
            <ion-icon name="calendar-outline" slot="start"></ion-icon>
            <ion-label>Marcar consulta</ion-label>
          </ion-item>
        </ion-menu-toggle>
       
        <ion-menu-toggle>
            <ion-item routerLink="login">
            <ion-icon name="calendar-clear-outline" slot="start"></ion-icon>
            <ion-label>Consultas marcadas</ion-label>
             </ion-item>
        </ion-menu-toggle>
         
      <ion-menu-toggle>
            <ion-item routerLink="login">
            <ion-icon name="checkbox-outline" slot="start"></ion-icon>
            <ion-label>Agendar exame</ion-label>
            </ion-item>
      </ion-menu-toggle>
        
      <ion-menu-toggle>
          <ion-item routerLink="login">
            <ion-icon name="document-outline" slot="start"></ion-icon>
            <ion-label>Histórico de exames</ion-label>
          </ion-item>
       </ion-menu-toggle>
         
       <ion-menu-toggle>
            <ion-item routerLink="ficha-medica" >
            <ion-icon name="person-circle-outline" slot="start"></ion-icon>
            <ion-label>Fichas Médicas</ion-label>
          </ion-item>
       </ion-menu-toggle>
         
        <ion-menu-toggle>
          <ion-item routerLink="login"> 
            <ion-icon name="pencil-outline" slot="start"></ion-icon>
            <ion-label>Assinatura</ion-label>
          </ion-item>
       </ion-menu-toggle>
         
      <ion-menu-toggle>
         <ion-item routerLink="login">
            <ion-icon name="paper-plane-outline" slot="start"></ion-icon>
            <ion-label>Sobre doenças</ion-label>
         </ion-item>
        
       </ion-menu-toggle>
          
        </ion-list>
      
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>