<ion-menu-button></ion-menu-button>
<body>
  
    <ion-content color="primary" >
      <ion-button type="button"  value="voltar" onClick="history.go(-1)" class="login" size="medium" color="warning" shape="round" fill="solid">
        Voltar
      </ion-button>
    <div class="logo" >
      <img src="/assets/imgs/carecenterlogo.png" style="width:70%;margin-left:16%;margin-top:10%;">
    </div>
  
    <div class="login-container">
      <form class="form">

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="E-mail" placeholder="E-mail"   ></ion-input>
        <br>
      
     </ion-item>
  <ion-button class="emailteste" (click)="trocartela()" size="medium" color="warning" shape="round" fill="solid">
          Enviar
       
        </ion-button>
        <br><br>
        
    </form>
    </div>
  
</ion-content>
  </body>
  
  
  
  
  
   