
<body>
  <ion-content>
  
    <div class="logo" >
      <img src="/assets/imgs/carecenterlogo.png" style="width:70%;margin-left:16%;margin-top:10%;">
    </div>
  
    <div class="login-container">
      <form class="form">

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="password" placeholder="Senha"   ></ion-input>
        </ion-item>
        <ion-button class="senhaesq" (click)="trocartela()" size="small" color="dark" shape="round" fill="clear">
          Esqueci minha senha
        </ion-button>
        <br><br>
        
  
    </form>
    </div>
  
</ion-content>
  </body>
  
  
  
  
  
   