<ion-header>
  <ion-toolbar>
    <ion-title>Atualizar Consultas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Especialista</ion-label>
    <ion-input disabled="true" value="{{marcar.nome}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Cidade</ion-label>
    <ion-input disabled="true" value="{{marcar.cidade}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Metódo</ion-label>
    <ion-input disabled="true" value="{{marcar.metodo}}"></ion-input>
  </ion-item>

</ion-content>
