<ion-header class="ion-no-border">
</ion-header>

<ion-content color="primary">

  <ion-button class="btnVoltar" fill="clear" size="big" color="dark" onClick="history.go(-1)">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>

  <ion-card>
    <ion-item>
      <ion-label position="floating">Especialista</ion-label>
      <ion-input disabled="true" value="{{perfil.nome}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Idade</ion-label>
      <ion-input disabled="true" value="{{perfil.idade}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">CPF</ion-label>
      <ion-input disabled="true" value="{{perfil.cpf}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Tipo Sanguíneo</ion-label>
      <ion-input disabled="true" value="{{perfil.sangue}}"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Endereço</ion-label>
      <ion-input disabled="true" value="{{perfil.endereco}}"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Número</ion-label>
      <ion-input disabled="true" value="{{perfil.numero}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cidade</ion-label>
      <ion-input disabled="true" value="{{perfil.cidade}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Estado</ion-label>
      <ion-input disabled="true" value="{{perfil.estado}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input disabled="true" value="{{perfil.email}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input disabled="true" value="{{perfil.telefone}}"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Feita por:</ion-label>
      <ion-input disabled="true" value="Mateus"></ion-input>
    </ion-item>
  </ion-card>

</ion-content>
