ion-avatar,
ion-avatar > img{
    border-radius:50%;
    height:7rem;
    width:7rem;
    margin: 0 auto;
    margin-top: 5px;
    

}
ion-title{
    margin-left: 35%;
}

ion-label{
   color: #000;
   margin: 0 auto;
   margin-left: 25%;
        
}

ion-item{
    width: 70%;
    height: auto;
    margin: 0 auto;
   display: block;
  
}