<ion-header >
  <ion-toolbar >
    <ion-title> 
      <img src="/assets/imgs/carecenterlogo.png" >
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
   
  </ion-toolbar>
</ion-header>

<ion-content color='primary'> 
    <div class="ion-header">
      <ion-avatar >
        <img src="/assets/imgs/usuario.png" >
      </ion-avatar>
  </div>
 
  <div class="cards">
    <ion-card  [routerLink]="['/ficha-medica']" >
      
      <ion-card-header >
        <ion-card-title>Ficha médica</ion-card-title>
        <ion-card-subtitle>Anderson Souza</ion-card-subtitle>
      
      </ion-card-header>
    
      <ion-card-content>
       Nome: Anderson.
       Sobrenome:Souza.
       Idade: 20anos.
       Cidade: Seropedica.
       Estado: Rio de janeiro.
  
      </ion-card-content>
    </ion-card>

  <ion-card button (click)="buttonClick()">
    <ion-card-header>
      <ion-card-title>Consultas</ion-card-title>
      <ion-card-subtitle>Anderson Souza</ion-card-subtitle>
    
    </ion-card-header>
  
    <ion-card-content>
     Nome: Anderson.
     Sobrenome:Souza.
     Idade: 20anos.
     Cidade: Seropedica.
     Estado: Rio de janeiro.

    </ion-card-content>
  </ion-card>
  

</div>
</ion-content>
